extends layout

block content
    .row.banner
        .col-sm-12
        h1= title
    .row
        .col-md-6.col-sm-12
            p
                | Loc8r was created to help prople find places to sit down and get agbit of work done.
                | <br/><br/>
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                | Nuc sed lorem ac nisi dignissim accumsan.    